## NebulaGraph Jupyter Extension

In [1]:
# %pip install ipython-ngql

# Load extension
%load_ext ngql

# Connect NebulaGraph

In [2]:
%ngql --address graphd --port 9669 --user root --password nebula

Connection Pool Created

                        Name
0           basketballplayer
1                demo_ai_ops
2      demo_basketballplayer
3          demo_data_lineage
4             demo_fifa_2022
5       demo_fraud_detection
6  demo_movie_recommendation
7                   demo_sns
8                        k8s

## Query with `%ngql`

In [3]:
%ngql USE basketballplayer;
%ngql MATCH (v:player{name:"Tim Duncan"})-->(v2:player) RETURN v2.player.name AS Name;

            Name
0    Tony Parker
1  Manu Ginobili

## Query with `%%ngql` for multiline

In [4]:
%%ngql
MATCH (v)<-[e:follow]- (v2)-[e2:serve]->(v3)
  WHERE id(v) == "player100"
RETURN v2.player.name AS FriendOf, v3.team.name AS Team LIMIT 3;

            FriendOf           Team
0  LaMarcus Aldridge  Trail Blazers
1  LaMarcus Aldridge          Spurs
2    Marco Belinelli       Warriors

In [5]:
%ngql GET SUBGRAPH 2 STEPS FROM "player101" YIELD VERTICES AS nodes, EDGES AS relationships;

,nodes,relationships
0,"[(""player101"" :player{})]","[(""player101"")-[:serve@0{}]->(""team204""), (""pl..."
1,"[(""team215"" :team{}), (""player113"" :player{}),...","[(""player111"")-[:serve@0{}]->(""team215""), (""pl..."
2,"[(""player146"" :player{}), (""team206"" :team{}),...","[(""player146"")-[:serve@0{}]->(""team222""), (""pl..."

## Draw the result

In [6]:
%ng_draw

nebulagraph_draw.html

# What's Next

> check more from https://github.com/wey-gu/ipython-ngql or run

```python
%ngql help
```